body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #092640 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 5vh;
}

.form{
    background-color: white;
    color: #092640;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    min-height: 70vh;
    min-width: 300px;
    width: 40vw;
    gap: 2vw;
    outline: 2px solid white ;
    box-shadow: inset 0 0 0 4px #092640; 
    padding: 5%;
}
span{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

label{
    display: flex;
    justify-content: start;
}

.label{
    border: 2px solid #092640 ;
    border-radius: 8px;
    width: 90%;
    gap: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
}

.input{
    border: 2px solid transparent ;
    height: 40px;
    color: #092640;
    width: 70%;
}

.input:focus{
    outline: 2px solid transparent;
    border: 2px solid transparent;
}

.button{
    width: 35%;
    border-radius: 8px;
    color: white;
    height: 40px;
    font-size: 15px;
    line-height: 40px;
    font-weight: 300;
    background-color: #092640;
    text-align: center;
    text-decoration: none;
    transition: .5s;
    border: 2px solid white;
}

.button:hover{
    border: 2px solid #092640;
    background-color: white;
    color: #092640;
}

.buttonContainer{
    gap: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

img{
width: 55%;;
}